:root {
  --BACKGROUND: #f8fafc;
  --LIGHT-GRAY: #e2e8f0;
  --CARD-PANELS: #ffffff;
  --MAIN-TEXT-COLOR: #0f172a;
  --SECONDARY-TEXT-COLOR: #64748b;
  --PRIMARY-ACCENT: #2563eb;
  --GREEN: #16a34a;
  --RED: #dc2626;
  --ORANGE: #f59e0b;
  --BORDER: 1px solid var(--LIGHT-GRAY);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: 'Outfit', sans-serif;
}

/* NAV STYLES */
.top-layout {
  color: var(--MAIN-TEXT-COLOR);
  background-color: var(--BACKGROUND);
  margin-bottom: 8px;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  padding: 24px 24px 8px 24px;
  border-bottom: var(--BORDER);
}

.main-title {
  display: flex;
  align-items: center;
  gap: 4px;
}

.main-title h1 {
  font-size: 18px;
  text-transform: uppercase;
}

.main-title i {
  font-size: 28px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icons i {
  font-size: 20px;
}

.hamburger-menu-hidden {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 200px;

  background-color: var(--CARD-PANELS);
  padding: 24px;

  opacity: 1;
  transform: translateX(100%);
  pointer-events: none;
  z-index: 1;

  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
}

.hamburger-menu-visible {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

nav {
  color: var(--SECONDARY-TEXT-COLOR);
}

nav ul {
  line-height: 42px;
  margin-top: 10px;
}

nav ul li {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 0;
}

nav ul li i {
  font-size: 16px;
  color: var(--SECONDARY-TEXT-COLOR);
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--SECONDARY-TEXT-COLOR);
  cursor: pointer;
}

nav ul li a:hover {
  background: #2564ebd8;
  border-radius: 9px;

  color: white;
  padding: 0 12px;
}

/* HERO SECTION STYLES */
.hero-top {
  display: flex;
  flex-direction: column;
  padding: 24px 12px;
}

.net-balance h2 {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--SECONDARY-TEXT-COLOR);
}

.net-balance p {
  font-size: 38px;
  text-transform: uppercase;
  color: var(--MAIN-TEXT-COLOR);
}

.date-count-stats {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--SECONDARY-TEXT-COLOR);
  font-size: 14px;
}

.date-stats,
.count-stats {
  display: flex;
  align-items: center;
  gap: 4px;
}

.date-stats span,
.count-stats span,
.date-section span {
  border: none;
  background-color: var(--SECONDARY-TEXT-COLOR);
  border-radius: 50%;
  width: 4px;
  height: 4px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 0 16px 20px;
}

.stat-cards {
  border: none;
  background-color: var(--CARD-PANELS);
  border-radius: 8px;
  padding: 14px 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.stat-cards p {
  color: var(--SECONDARY-TEXT-COLOR);
  font-size: 12px;
}

.stat-cards span {
  color: var(--MAIN-TEXT-COLOR);
  font-size: 20px;
}

.stat-cards .income {
  color: var(--GREEN);
}
.stat-cards .expense {
  color: var(--RED);
}

.dollar-tag {
  font-size: 18px;
  vertical-align: super;
  margin-right: 2px;
}

/* TRANSACTION LIST STYLES */
.desktop-section {
  color: var(--SECONDARY-TEXT-COLOR);
}

.transaction-list-section {
  padding: 12px;
  gap: 12px;
  border-bottom: var(--BORDER);
}

.transaction-list-top {
  display: flex;
  justify-content: space-around;
  gap: 6px;
}

.transaction-list-section h2,
.transaction-form-section h2 {
  font-size: 16px;
  color: var(--MAIN-TEXT-COLOR);
}

.filter-options {
  display: flex;
  align-items: center;
  gap: 6px;
}

.filter-options span,
.dropdown select,
.clear-filter-btn {
  padding: 5px 12px;
  font-size: 12px;
  border: var(--BORDER);
  border-radius: 100px;
}

.filter-options span:hover {
  background-color: var(--BACKGROUND);
  color: var(--PRIMARY-ACCENT);
  border: 1px solid var(--PRIMARY-ACCENT);
}

.dropdown select:focus {
  outline: 1px solid var(--PRIMARY-ACCENT);
}

.dropdown select {
  -webkit-appearance: none;
}

.clear-filter-btn {
  display: none;
}
.visible {
  display: flex;
}

.clear-filter-container {
  margin: 12px 0;
}

.transaction-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.transaction-list-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 12px;
}

.transaction-card {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-bottom: var(--BORDER);
}

.transaction-left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.transaction-left h3 {
  font-size: 16px;
}

.date-section {
  display: flex;
  align-items: center;
  gap: 8px;
}

.date-section p {
  font-size: 14px;
  color: #a09b95;
}

.transaction-right {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 12px;
}
.transaction-right h3 {
  font-size: 16px;
}

.income {
  color: var(--GREEN);
}

.expense {
  color: var(--RED);
}

.delete-btn {
  color: var(--RED);
}

.page-numbers {
  display: flex;
  gap: 4px;
}

.page-number-btn {
  padding: 6px 8px;
  border: var(--BORDER);
  background-color: var(--CARD-PANELS);
  margin-bottom: 12px;
}

.active-page-number {
  border-color: var(--PRIMARY-ACCENT);
  color: var(--PRIMARY-ACCENT);
}

.active {
  border-color: var(--PRIMARY-ACCENT);
  color: var(--PRIMARY-ACCENT);
}

.pop-up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  background-color: #ff060613;
  height: 100%;
}

.pop-up.active {
  opacity: 1;
  pointer-events: auto;
}

.pop-up-container {
  border: var(--BORDER);

  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 18px;
  padding: 24px;
  width: 250px;
  height: fit-content;
  background-color: var(--CARD-PANELS);
}

.pop-up h3 {
  text-transform: uppercase;
  font-size: 15px;
  color: var(--RED);
}

.pop-up-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.pop-up-buttons button {
  border: var(--BORDER);
  border-radius: 100px;
  font-size: 14px;
  padding: 12px 24px;
  text-transform: uppercase;
  background-color: var(--CARD-PANELS);
}

.pop-up-buttons button:hover:first-child {
  color: var(--RED);
  border-color: var(--RED);
}

.pop-up-buttons button:hover:last-child {
  color: var(--PRIMARY-ACCENT);
  border-color: var(--PRIMARY-ACCENT);
}

.empty-state {
  text-align: center;
  color: var(--LIGHT-GRAY);
}

/* FORM STYLES */
.transaction-form-section {
  margin-bottom: 24px;
  padding: 12px;
}

.transaction-form {
  margin-top: 12px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
}

.form-input-container label {
  color: #a09b95;
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}

.form-input-container input,
.form-input-container select {
  width: 100%;
  padding: 11px 13px;
  border: var(--BORDER);
  background: #fff;
  font-size: 13px;
  color: var(--MAIN-TEXT-COLOR);
  font-family: inherit;
  -webkit-appearance: none;
}

.form-input-container input:focus,
.form-input-container select:focus {
  outline-color: var(--PRIMARY-ACCENT);
}

.side-by-side {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin: 8px 0;
}

.add-transaction-btn {
  width: 100%;
  margin-top: 8px;
  padding: 11px 13px;
  background: var(--PRIMARY-ACCENT);
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.add-transaction-btn:hover {
  background: black;
  color: #fff;
}

.error {
  font-size: 12px;
  color: red;
}

footer {
  padding: 12px;
  border-top: var(--BORDER);
}

footer p {
  font-size: 12px;
  text-align: center;
}

/* TABLET STYLES */
@media (min-width: 768px) {
  .top-layout {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    margin-bottom: 0;
  }

  .sidebar-navigation {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    width: 250px;
    top: 0;

    border-right: var(--BORDER);
    background: var(--CARD-PANELS);
  }

  .nav-top {
    padding: 24px 16px;
    justify-content: flex-start;
    gap: 10px;
  }

  .main-title h1 {
    font-size: 20px;
  }

  .icons {
    display: none;
  }

  .hamburger-menu-hidden {
    position: static;
    transform: none;
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    height: auto;
    background: transparent;
    padding: 12px 16px;
    transition: none;
  }

  .hamburger i {
    display: none;
  }

  nav ul {
    line-height: 1.2;
    margin-top: 0;
  }

  nav ul li a {
    font-size: 14px;
    color: var(--SECONDARY-TEXT-COLOR);
    border-radius: 8px;
    padding: 6px 10px;
  }

  nav ul li a:hover {
    background: var(--PRIMARY-ACCENT);
    color: white;
    padding: 12px;
  }

  .hero-section {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    padding: 16px;
  }

  .desktop-section {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    padding: 16px;
    overflow-y: auto;
  }

  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 0;
  }

  .stat-cards {
    background-color: var(--CARD-PANELS);
  }

  .cards-section {
    margin-top: auto;
    padding: 16px;
    border-top: var(--BORDER);
  }

  footer {
    grid-column: 1 / 3;
    z-index: 1;
    background: #fff;
  }
}

@media (min-width: 1024px) {
  .hero-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .cards-section {
    grid-column: span 2;
    border: none;
  }

  .desktop-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }

  .transaction-list-section {
    border: none;
  }
}
